
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@100,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nunito:ital,wght@0,100;1,200&display=swap');

    


*{
padding:0;
margin:0;
font-family:'Nunito','sans-serif';
}
ul{
list-style:none;
font-weight:700;
}


.wrapper{
    background-color:#f1f3f5;
    overflow-x:hidden;
}

html {
    scroll-behavior: smooth;
  }

/* 상단메뉴바에대한 속성들(시작)*/

.menuicon{
    font-size:10px;
}


.navbar-nav  li a:hover{
    color: #FF87D2 !important;
}

.logoimg{
    padding-top:100px;
    padding-bottom:80px;
}

.logoimg #textlogo{
    width: 180px;
    height: 80px;
}



/*상단메뉴바에대한 속성들(끝)*/


a{
text-decoration:none;
}







/*메인 콘텐츠 이미지에 관한 속성들(시작)*/

.cycle-pager { 
    text-align: center; width: 100%; z-index:2; top: 10px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}






.categoryimage{
margin:100px 100px 0px 100px;
}



.mainimage {
    display:inline-block;
    position:relative;
    margin:0px;
    width:65%;
}

.mainimage__img{
    width:100%;
 }



#coolanchor{
color:#3509d4;
}
#coolanchor:visited{
color:#3509d4;
}

#warmanchor{
color:#fbff02;
}
#warmanchor:visited{
color:#fbff02;
}




.warmimage{
    
    position:relative;
    margin:0px;
    width:60%;
    float:right;
}

.coolimage_description{
    float:right;
    padding-top:300px;
    font-size:30px;
}



.warmimage_description{
   float:left;
   padding-top:300px;
   font-size:30px;

}


.mainimage__overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
color: #ffffff;
font-family: 'Quicksand', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.75s;
}


.mainimage__overlay--blur {
backdrop-filter: blur(5px);
}

/*#009578;
}*/

.coolimage__overlay--primary {
background: #0addb3;
}
.warmimage__overlay--primary {
background: rgb(238, 12, 132);
}

.mainimage__overlay > * {
transform: translateY(20px);
transition: transform 0.25s;
}

.mainimage__overlay:hover {
opacity: 1;
}

.mainimage__overlay:hover > * {
transform: translateY(0);
}

.mainimage__title {
font-size: 2em;
font-weight: bold;
}

.mainimage__description {
font-size: 1.25em;
margin-top: 0.25em;
}


.descriptionimage{

margin-top:100px;
margin-left:100px;
width: 500px;
left:700px;
}

.infowrapper{
    width:100vw;
    display:inline-block;
}

.infoimage{
float:left;
}

#heart{
    font-size:50px;
    color:#FF3399;
}
.bg-3{
    background-color:#e6f0f2;
}

.infodescription{
display:inline-block;
text-align:center;
margin-left:100px;
padding-top:50px;
}



.image-frame{
    position: relative;
	padding: 0;
}

.image-caption{
	display: none;
	width: 350px;
	position: absolute;
	bottom: 0px;
	background-color: black;
	color: white;
	opacity: 0.8;
}





/*메인 콘텐츠 이미지에 관한 속성들(끝)*/



/*footer에 관한 속성들(시작)*/

#footer{
clear:both;
background-color:#f1f3f5;
display:flex;
}

.bottom_left{
    width:40%;
}
.bottom_middle{
    width:40%;
}
.bottom_right{
    width:20%;
    
}

/*footer에 관한 속성들(끝)*/