@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@100,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nunito:ital,wght@0,100;1,200&display=swap');
      

*{
padding:0;
margin:0;
font-family:'Nunito','sans-serif';
}
ul{
list-style:none;
font-weight:700;
}



.wrapper{
    background-color:#f1f3f5;
    overflow:hidden;
}

/* 상단메뉴바에대한 속성들(시작)*/

.menuicon{
    font-size:10px;
}


.navbar-nav  li a:hover{
    color: #FF87D2 !important;
}

.logoimg{
    padding-top:100px;
    padding-bottom:80px; 
}

.logoimg #textlogo{
    width: 180px;
    height: 80px;
}

/*상단메뉴바에대한 속성들(끝)*/


a{
text-decoration:none;
}
#header{
    overflow:hidden;
}
img#logo{
width:180px;
height:120px;
}

img#textlogo{
width:200px;
height:80px;
}
/*헤더의 이미지파일들에 관한 속성들(끝)*/

/*footer에 관한 속성들(시작)*/
#footer{
clear:both;
background-color:#f1f3f5;
display:flex;
}

.bottom_left{
    width:40%;
}
.bottom_middle{
    width:40%;
}
.bottom_right{
    width:20%;
    
}
/*footer에 관한 속성들(끝)*/

/*장바구니 속성*/
#list{
    text-align: center;
    position: relative;
    background-color: white;
    height: 700px;
}
.open_basket{
    position: relative;
    bottom: 0px;
}
#basket{
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(255, 238, 238);
    position: absolute;    
    bottom: 0px;
    text-align: center;
    height: 500px;
}

#basket li p{
    float: left;
}

.cloth1 img{
    width: 150px;
    height: 150px;
}

.order{
    text-align: center;
}

.order img{
    width: 200px;
    height: 80px;
}