     
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@100,200;1,200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nunito:ital,wght@0,100;1,200&display=swap');
          
    
    *{
    padding:0;
    margin:0;
    font-family:'Nunito','sans-serif';
    }
    ul{
    list-style:none;
    font-weight:700;
    }

    
/* 상단메뉴바에대한 속성들(시작)*/

.menuicon{
    font-size:10px;
}


.navbar-nav  li a:hover{
    color: #FF87D2 !important;
}
.wrapper{
    overflow-x:hidden;
}
.logoimg{
    padding-top:100px;
    padding-bottom:80px;
}

.logoimg #textlogo{
    width: 180px;
    height: 80px;
}



/*상단메뉴바에대한 속성들(끝)*/
   
    
    .hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
        font-size: 20px;
        padding-top:50px;
        padding-bottom:30px;
      }
      .hr-sect::before,
      .hr-sect::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
      }    
    
    

a:visited{
    color:black;
}
a:link{
    color:black;
}

.bg-4{
background-color:#f1f3f5;
 }
#id{
 margin-top:20px;
}
h2{
margin:0px;
 }
   
span{
    font-size:17px;
  
}
.signup{
    padding:50px;
}
#name{
    margin-top:30px;
}


/*footer에 관한 속성들(시작)*/

#footer{
    clear:both;
    background-color:#f1f3f5;
    display:flex;
    margin-top:100px;
    }
    
    .bottom_left{
        width:40%;
    }
    .bottom_middle{
        width:40%;
    }
    .bottom_right{
        width:20%;
        
    }
    
    /*footer에 관한 속성들(끝)*/


    
   