@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@100,200;1,200&display=swap');

*{
    padding:0;
    margin:0;
    font-family:'Nunito','sans-serif';
}
ul{
    list-style:none;
}

.menubar{
    width:100%;
    position:fixed;
    z-index:1;
}

/* 상단메뉴바에대한 속성들(시작)*/

.top_left{
    width:70%;
    float:left;
}

.top_right{
    float:right;
    width:30%;
    text-align:center;
}
.top_right ul{
    display:inline-flex;
}
.top_right ul li{
    width:120px;
    padding:15px;
}
.top_right ul li a{
    color:black;
    text-decoration:none;
    
}

.sub-menu{
    display:none;
    margin-top:10px;
   
}
.top_right ul li:hover  .sub-menu{
    display:block;
    position:absolute;
}
.top_right ul li:hover .sub-menu ul{
    display:block;
}
.top_right ul li:hover .sub-menu ul li{
    padding-right:0px;
    padding-left:0px;
    padding-top:10px;
  
}

/*상단메뉴바에대한 속성들(끝)*/


a{
   text-decoration:none;
}
#header{
    overflow:hidden;
}

/*헤더의 이미지파일들에 관한 속성들(시작)*/

.imagecontainer{
   white-space:nowrap;
   width:500vw;
   transition:transform 2s;

}
.image{
   width:100vw;
   background-size:100% auto; 
   height:725px;
   background-repeat:no-repeat;
   background-image:url(img/kids.jpg);
   float:left;

}


img#logo{
   width:100px;
   height:50px;
}

.radiowrap{
    position:absolute;
    top:90%;
    left:50%;
   
}

/*헤더의 이미지파일들에 관한 속성들(끝)*/




/*메인 콘텐츠 이미지에 관한 속성들(시작)*/

.categoryimage{
    margin:100px 100px 0px 100px;
}

.mainimage__img{
    width:500px;
    height:500px;
}

#coolanchor{
    color:#3509d4
}
#coolanchor:visited{
    color:#3509d4
}

#warmanchor{
    color:#fbff02
}
#warmanchor:visited{
    color:#3509d4
}

/*
.warmimage{
    float:right;
}
*/

/*
.coolimage__description{
    display:inline-block;
    text-align:center;
}
*/
/*
.coolimage__description{
    display:inline-block;
}*/

.mainimage {
    position: relative;
    width: 500px;
}
.warmimage{
    position: relative;
    width: 500px;
    left:700px;
}

.mainimage__img {
    display: block;
    width: 100%;
}

.mainimage__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.75s;
}

.mainimage__overlay--blur {
    backdrop-filter: blur(5px);
}

/*#009578;
}*/

.coolimage__overlay--primary {
    background: #0addb3;
}
.warmimage__overlay--primary {
    background: rgb(238, 12, 132);
}

.mainimage__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.mainimage__overlay:hover {
    opacity: 1;
}

.mainimage__overlay:hover > * {
    transform: translateY(0);
}

.mainimage__title {
    font-size: 2em;
    font-weight: bold;
}

.mainimage__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}


#cool_description{
   margin-bottom:200px;
    
}

#warm_description{
   
   
}

/*메인 콘텐츠 이미지에 관한 속성들(끝)*/



#footer{
    clear:both;
}