@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@100,200;1,200&display=swap');

*{
    padding:0;
    margin:0;
    font-family:'Nunito','sans-serif';
}
ul{
    list-style:none;
}

.menubar{
    width:100%;
    position:fixed;
    z-index:1;
}

.top_left{
    width:70%;
    float:left;
}

.top_right{
    float:right;
    width:30%;
    text-align:center;
}
.top_right ul{
    display:inline-flex;
}
.top_right ul li{
    width:120px;
    padding:15px;
}
.top_right ul li a{
    color:black;
    text-decoration:none;
    
}

.sub-menu{
    display:none;
    margin-top:10px;
   
}
.top_right ul li:hover  .sub-menu{
    display:block;
    position:absolute;
}
.top_right ul li:hover .sub-menu ul{
    display:block;
}
.top_right ul li:hover .sub-menu ul li{
    padding-right:0px;
    padding-left:0px;
    padding-top:10px;
  
}




a{
   text-decoration:none;
}
#header{
    overflow:hidden;
}

.imagecontainer{
   white-space:nowrap;
   width:500vw;
   transition:transform 2s;

}
.image{
   width:100vw;
   background-size:100% auto; 
   height:725px;
   background-repeat:no-repeat;
   background-image:url(img/kids.jpg);
   float:left;

}


img#logo{
   width:100px;
   height:50px;
}

.radiowrap{
    position:absolute;
    top:90%;
    left:50%;
   
}


.categoryimage{
    margin:100px;
}

.categoryimage{
    margin:100px;
}

.coolimage__img,.warmimage__img{
    width:500px;
    height:500px;
}

.warmimage{
    float:right;
}





#footer{
    clear:both;
}