.top p{
    text-align: center;
    font-size: 90px;
}
img#logo{
    width:100px;
    height:50px;
}
body{
    background-color: #f1f3f5;
}
.mainboard{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    
}
.mainboard td, th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.bottom{
    margin-top: 10px;
    text-align: center;
}
.bottom a{
    text-decoration: none;
}