.top{
    background-image: url(img/kids7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
}
img#logo{
    width:100px;
    height:50px;
}
body{
    background-color: #f1f3f5;
}
.mainboard{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    
}
.mainboard table{
    border-collapse: collapse;
    text-align: center;
}
.mainboard td{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.bottom{
    margin-top: 10px;
    text-align: center;
}
.bottom a{
    text-decoration: none;
}